body{
    background-color: cadetblue;
}

#container {background-color: white;
width: 1200px;
margin: 20px auto;
border: 2px solid green;
padding: 20px;
}

nav{text-align: center;
margin: 20px 0;
}

nav a {
    font-size: 24px;
    color: red;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {

    text-decoration: none;
}

h1, h2, h3, footer {
    text-align: center;
}
<style>
            body {
               background-color: cadetblue;
            }

            img{
               display: block;
               margin: 20px auto;
               width: 600px;
            }
       </style>

